.App {
  text-align: center;
  margin-top: 20px;
}
h1 {
  font-family: 'Bungee', cursive;
  font-size: 4em;
  color: rgb(14, 13, 30);
}
h2 {
  font-family: 'Bungee', cursive;
  font-size: 3em;
  color: rgb(28, 25, 90);
}
p {
  font-size: 2em;
}
